extends layout

block content
  section(class="t-center")
    p(class="t-cap t-teal") Welcome to
    h1(class="f-amatic") #{title}

    button(class="js-vote f-droidsans t-white t-center t-cap bg-babyblue mtb40", onclick="window.location.href='/vote'") Vote
