extends layout

block content
    section(class="t-center")
        h1(class="f-amatic") #{title}
        form#formAddChili(name='add',method='post',action='/add', class="f-droidsans mt20")
            input#inputChiliName(type='text', placeholder='Name of your dish', name='chiliname', class="mt10")
            input#inputChiliCreator(type='text', placeholder='Name of the chef', name='chilicreator', class="mt10")
            label(class="mt10")
                input#inputChiliVeg(type='checkbox', name='chiliveg')/
                | Vegetarian
            div(class="t-center")
                button(type="submit", class="js-submit f-droidsans t-white t-center t-cap bg-babyblue mtb20") Submit

    section(class="f-droidsans mt20")
        div
            h2(class="t-bold").
                Current chilis
            each dish, i in dishlist
                p(class="mb0").
                    #{dish.dishname}
