doctype html
html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= tagline ? tagline + ': ' + title : title
    link(rel='stylesheet', type='text/css', href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700|Amatic+SC:700')
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body(class="bg-gray")
    block content