extends layout

block content
    h1= title
    form#formAddChili(name='addchili',method='post',action='/addchili')
        input#inputChiliName(type='text', placeholder='chiliname', name='chiliname')
        input#inputChiliCreator(type='text', placeholder='chili creator', name='chilicreator')
        button#btnSubmit(type='submit') submit
