extends layout

block content
    h1= title
    form#formAddChili(name='addchili',method='post',action='/addchili')
        input#inputChiliName(type='text', placeholder='Name of your dish', name='chiliname')
        input#inputChiliCreator(type='text', placeholder='Name of the chef', name='chilicreator')
        label
            input#inputChiliVeg(type='checkbox', name='chiliveg')/
            | Vegetarian
        button#btnSubmit(type='submit') submit

    div
        h2.
            Current chilis
        ul
            each dish, i in dishlist
                li.
                    #{dish.dishname}
